/dist
/tmp
/out-tsc

# dependencies
/node_modules
node_modules
/build
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/dontletitdie.js
/dontletitdie.css
/dontletitdie.css.map