/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * DontLetItDie implementation : © Cutch <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * dontletitdie.css
 *
 * DontLetItDie stylesheet
 *
 */
 #game_play_area{
    margin: 1em;
 }
 #game_play_area.hide{
    display: none;
 }
 .character-selector{
    display: flex !important;
    flex-flow: wrap;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
 }
 /* Player Card Start */
#players-container{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 1em;
}
.player-card{
    position: relative;
}
.player-card .character{
    position: absolute;
    top: 10px;
    left: 9px;
}
.player-card .weapon{
    position: absolute;
    top: 60px;
    left: 122px;
}
.player-card .tool{
    position: absolute;
    top: 60px;
    left: 241px;
}
/* Player Card Stop */

/* Board Container Start */
#board-container {
    position: relative;
}
#board-container .gather {
    position: absolute;
    top: 34px;
    left: 187px;
}
#board-container .forage {
    position: absolute;
    top: 34px;
    left: 324px;
}
#board-container .harvest {
    position: absolute;
    top: 34px;
    left: 457px;
}
#board-container .hunt {
    position: absolute;
    top: 34px;
    left: 594px;
}
/* Board Container Stop */
.container {
    margin: 0 auto;
}
.card {
    background-repeat: repeat;
    border-radius: 10px;
    box-shadow: 3px 3px 9px rgb(0 0 0);
    /* margin: 0 auto; */
}
.card-rotator {
    /* margin: 0 auto 1em; */
}
/* #players-container .card-rotator {
    margin: 0;
} */
.card.boards-card {
    background-image: url(img/boards-spritesheet.png);
}
.card.characters-card {
    background-image: url(img/characters-spritesheet.png);
}
.card.decks-card {
    background-image: url(img/decks-spritesheet.png);
}
.card.expansion-card {
    background-image: url(img/expansion-spritesheet.png);
}
.card.items-card {
    background-image: url(img/items-spritesheet.png);
}
.card.upgrades-card {
    background-image: url(img/upgrades-spritesheet.png);
}

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (dontletitdie_dontletitdie.tpl), and to HTML elements you create dynamically
    (in dontletitdie.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/




