#craft-screen {
  margin-top: 1rem;
  overflow: hidden;
  padding: 1rem;
  .items {
    gap: 1em 2em;
  }
  #craft-items {
    background-color: #ffffff90;
    padding: 2rem;
    border-radius: 2rem;
  }
  .items-card {
    position: relative;
  }
  .disabled {
    .counter {
      background-color: #7e7e7e;
    }
    .items-card::after {
      content: '';
      background-color: rgba(0, 0, 0, 0.369);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  .craft-error {
    color: #000;
    font-weight: 600;
    padding: 0.5rem 1rem;
    background-color: #fff;
    text-align: center;
    height: 1em;
    border-radius: 10px;
    border: 1px solid #000;
    margin-bottom: 1rem;
    .hidden {
      display: none;
    }
  }
  .missing-container {
    display: flex;
    position: absolute;
    bottom: -24px;
    left: 0;
    right: 0;
    padding: 3px 6px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #fffb;
    z-index: 1;
    font-weight: 600;
    align-items: center;
    gap: 4px;

    .missing-tokens {
      display: flex;
      flex-wrap: wrap;
      gap: 4px 6px;
    }
    .missing-token-container {
      display: flex;
      align-items: center;
      gap: 3px;
    }
  }
}
