#item-trade-screen {
  padding: 2rem 1rem;
  overflow: hidden;
}

#item-trade-screen-content {
  display: flex;
  gap: 2rem;
  flex-flow: column;
  align-items: center;
  .dlid__container {
    background-color: #ffffff90;
    padding: 1rem 2rem;
    margin: 0;
    position: relative;
    border-radius: 10px;
  }
  // .character-image {
  //   position: absolute;
  //   top: 2px;
  //   left: 2px;
  // }
  .card {
    border: 1px solid #000;
    margin: 4px;
    user-select: none;
  }
  .items-card {
    position: relative;
  }
  .disabled {
    .counter {
      background-color: #7e7e7e;
    }
    .card::after {
      content: '';
      background-color: rgba(0, 0, 0, 0.369);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  .player-item-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
  }
  .empty {
    background: #326693d1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: #fff;
    text-shadow: 0 0 4px black;
    font-size: 18px;
  }

  .trade-arrow {
    padding: 0px;
    margin: 0px;
    line-height: 1px;
    position: absolute;
    background-color: #fff;
  }
}
