#trade-screen {
  display: flex;
  gap: 2rem;
  flex-flow: column;
  padding: 2rem 1rem;
  overflow: hidden;
  .dot {
    width: 3em;
    height: 3em;
  }
  .tokens {
    gap: 2em;
  }
  .error {
    color: #000;
    font-weight: 600;
    padding: 0.5rem 1rem;
    background-color: #ffbdb4;
    min-width: 50vw;
    text-align: center;
    height: 1em;
  }
}
#trade-resource {
  background-color: #ffffff90;
  padding: 2rem;
  border-radius: 2rem;
}
#trade-for {
  background-color: #ffffff90;
  padding: 2rem;
  border-radius: 2rem;
}
.token-number-counter {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  align-items: center;
  .fa-plus-circle {
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    &.disabled {
      color: #858585;
    }
  }
  .fa-minus-circle {
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    &.disabled {
      color: #858585;
    }
  }
}
