#upgrade-selection-screen {
  margin-top: 1rem;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  .board {
    position: relative;
    margin-bottom: 1rem;
    place-self: anchor-center;
  }
  .cross {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(0.75rem) translateY(-0.5rem);
    width: 1.5rem;
    height: 1.5rem;
  }
  .fkp-spot {
    position: absolute;
    width: 195px;
    height: 87px;
    border-radius: 10px;
  }
  .fkp-spot-outline {
    outline: 4px dashed #00ff3a;
  }
  .upgrade-selections {
    position: absolute;
    top: 0;
    left: 0;
  }
  #upgrades {
    background-color: #ffffff90;
    padding: 2rem;
    border-radius: 2rem;
    .items {
      display: flex;
      gap: 1rem;
      flex-flow: row wrap;
    }
    .upgrades-card {
      position: relative;
      .upgrade-placed {
        position: absolute;
        bottom: 0;
        right: 0;
        color: #00ff3a;
      }
    }
  }
}
