.image {
  background-repeat: repeat;
}
.card {
  border-radius: 10px;
  border: 1px solid #000;
}
.card-rotator {
  /* margin: 0 auto 1em; */
  position: relative;
  place-self: anchor-center;
}
/* #players-container .card-rotator {
    margin: 0;
} */
.boards-card {
  background-image: url(img/boards-spritesheet.png);
  position: relative;
}
.characters-card {
  background-image: url(img/characters-spritesheet.png);
}
.decks-card {
  background-image: url(img/decks-spritesheet.png);
}
.expansion-card {
  background-image: url(img/expansion-spritesheet.png);
}
.items-card {
  background-image: url(img/items-spritesheet.png);
}
.token-card {
  background-image: url(img/token-spritesheet.png);
  border-radius: 50%;
}
.upgrades-card {
  background-image: url(img/upgrades-spritesheet.png);
}
