#board-container {
  position: relative;
}
#board-container .fire-wood {
  position: absolute;
  top: 30px;
  left: 66px;
}
.board {
  position: relative;
  /* place-self: anchor-center; */
}
.board .gather {
  position: absolute;
  top: 30px;
  left: 193px;
}
.board .forage {
  position: absolute;
  top: 30px;
  left: 328px;
}
.board .harvest {
  position: absolute;
  top: 30px;
  left: 464px;
}
.board .hunt {
  position: absolute;
  top: 30px;
  left: 600px;
}
/* Board Container Stop */
.tokens {
  display: flex;
  gap: 1em;
  flex-flow: row wrap;
}
.token {
  position: relative;
}
.counter {
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5em;
  height: 1.5em;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Track Board Start*/
#track-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#track-marker {
  border-radius: 50%;
  position: absolute;
  top: 236px;
  left: 166px;
  width: 2rem;
  height: 2rem;
  background-color: #307c42;
  border: 1px solid #000;
  transition: top 1.5s linear, transform 1.5s linear;
}
#event-deck-container {
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 1rem;
}
/* Track Board Stop*/

#items-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 1em;
}
