.character-side-container {
  font-size: 14px;
  margin-bottom: 5px;
}
.character-name {
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 2px;
}

#players-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 1em;
}
.player-card {
  position: relative;
}
.player-card .color-marker {
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 1px solid;
}
.player-card .first-player-marker {
  position: absolute;
  bottom: -1rem;
  left: -1rem;
}
.player-card .first-player-marker > .card {
  border-radius: unset;
  border: unset;
}
.player-card .character {
  position: absolute;
  top: 14px;
  left: 13px;
}
.player-card .weapon {
  position: absolute;
  top: 60px;
  left: 122px;
}
.player-card .tool {
  position: absolute;
  top: 60px;
  left: 241px;
}
.player-card .max-marker {
  position: absolute;
  width: 1.25em;
  height: 1.25em;
  transition: top 1s linear, left 1s linear, transform 1s linear;
  border: 3px solid rgb(205, 205, 205);
  border-radius: 50%;
}
.player-card .marker {
  position: absolute;
  width: 1.25em;
  height: 1.25em;
  transition: top 1s linear, left 1s linear, transform 1s linear;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  box-shadow: inset 0px 0px 0px 1px #000;
}
// .player-card .health {
//   top: 13px;
//   left: 127px;
// }
// .player-card .stamina {
//   position: absolute;
//   top: 38px;
//   left: 127px;
// }
