@use 'sass:meta';

@include meta.load-css('utils/clickable');
html {
  background:
    url(img/background.png) top left repeat-x,
    url(img/background-2.png) top left repeat;
  background-position-y: top, 56px;
}
.dlid {
  @include meta.load-css('utils/deck');
  @include meta.load-css('utils/dice');
  @include meta.load-css('utils/images');
  @include meta.load-css('utils/selector');
  @include meta.load-css('utils/tooltip');
  @include meta.load-css('utils/tweening');
  @include meta.load-css('utils/info-overlay');
  @include meta.load-css('screens/card-selection-screen');
  @include meta.load-css('screens/character-selection-screen');
  @include meta.load-css('screens/craft-screen');
  @include meta.load-css('screens/cook-screen');
  @include meta.load-css('screens/deck-selection-screen');
  @include meta.load-css('screens/eat-screen');
  @include meta.load-css('screens/hindrance-screen');
  @include meta.load-css('screens/items-screen');
  @include meta.load-css('screens/item-trade-screen');
  @include meta.load-css('screens/revive-screen');
  @include meta.load-css('screens/token-screen');
  @include meta.load-css('screens/token-reduce-screen');
  @include meta.load-css('screens/trade-screen');
  @include meta.load-css('screens/too-many-items-screen');
  @include meta.load-css('screens/upgrade-selection-screen');
  @include meta.load-css('screens/weapon-screen');
  @include meta.load-css('main');
  @include meta.load-css('boards');
  @include meta.load-css('player-card');
  @include meta.load-css('player-side-panel');
  .selected:not(#\9):not(#\9):not(#\9) {
    border: 5px solid var(--player-color, #fff);
    margin: 0;
    border-radius: 10px;
  }
  .tooltip {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-0.75rem) translateY(-0.5rem);

    .fa-question {
      font-size: 16px;
    }
    .fa-fire {
      font-size: 16px;
    }
    .dot {
      position: unset;
    }
  }
  .tooltip-box {
    font-size: 20px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    display: flex;
    gap: 1rem;
    min-width: 350px;
    max-width: 525px;
    align-items: flex-start;
    .tooltip-text {
      width: unset;
    }
    > span {
      margin-right: 1rem;
    }
  }
  .label {
    color: #000;

    // color: #ff0000;
    // font-weight: 600;
    // font-size: 18px;
    // -webkit-text-stroke: 0.5px #000;
    // text-stroke: 0.5px #000;
  }
  // .health .label {
  //   color: #ff0000;
  // }
  // .stamina .label {
  //   color: #ffff00;
  // }
  // .equipment .label {
  //   color: #00ff16;
  // }
  .fa-heart {
    position: relative;
    top: 1px;
  }
  .fkp-unlocked {
    pointer-events: none;
  }
}

.action-button .dlid__stamina {
  color: #ffff00;
  margin-left: 0.25em;
}

.action-button .dlid__health {
  color: #ff0000;
  margin-left: 0.25em;
}

.action-button .dlid__fkp {
  color: #00ff16;
  margin-left: 0.25em;
}
.action-button .dlid__dice {
  color: #fff;
  margin-left: 0.25em;
}
.action-button .dlid__sun {
  color: #ffff00;
  margin-left: 0.25em;
}
.action-button .dlid__forever {
  color: #ff8800;
  margin-left: 0.25em;
}

.dlid__container {
  margin: 0 auto 1rem;
  place-items: anchor-center;
}

.dlid__log-button {
  border: 2px solid #737373;
  padding: 3px 5px;
  border-radius: 8px;
  display: inline-block;
  margin: 3px 1px 0px;
  background: #eee;
  cursor: pointer;
  color: #000;
}
.player-board {
  background-color: #d6f3ff;
}
// .mobile_version .player-board-game-specific-content {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   gap: 0rem 1rem;
// }
// .mobile_version #player_boards {
//   grid-template-columns: 1fr;
// }
