@use 'sass:meta';

.dlid {
  @include meta.load-css('utils/clickable');
  @include meta.load-css('utils/deck');
  @include meta.load-css('utils/images');
  @include meta.load-css('utils/selector');
  @include meta.load-css('utils/tweening');
  @include meta.load-css('screens/craft-screen');
  @include meta.load-css('screens/eat-screen');
  @include meta.load-css('screens/trade-screen');
  @include meta.load-css('screens/too-many-items-screen');
  @include meta.load-css('main');
  @include meta.load-css('boards');
  @include meta.load-css('player-card');
  @include meta.load-css('player-side-panel');
}

.action-button .dlid__stamina {
  color: #ffff00;
  margin-left: 0.25em;
}

.dlid__container {
  margin: 0 auto 1rem;
  place-items: anchor-center;
}
