.character-side-container {
  font-size: 14px;
  margin-bottom: 5px;
  padding: 0.25rem;
  border-radius: 10px;
  position: relative;
  .equipment-item {
    text-decoration: underline;
    &.equipment-hide {
      text-decoration: unset;
    }
  }
  .hindrance-item {
    text-decoration: underline;
  }
  .character-image {
    position: absolute;
    right: 0;
    top: 0;
    .card {
      border: unset;
      box-shadow: 0 0 6px 0px white inset;
    }
  }
}
.character-name {
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 2px;
}
.side-panel-skull {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.line {
  .fa {
    width: 14px;
    margin-right: 4px;
    text-align: center;
    color: #000;
  }
}
